<h2>The First App Component</h2>
<div>
  <strong>
    {{message}}
    <br>
    {{200+400}}
  </strong>
</div>
<br>
<input type="text" class="form-control" [value]="name">
<br>
<a [href]="url">Web Net Helper</a>
<br>
<input type="button" value="Click Me" class="btn btn-warning" (click)="alertMessage()">
<br>
<input type="button" value="Click Me New" class="btn btn-warning" (click)="receiveButtonValue($event)">
<br>
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <td>
        <input type="text" class="form-control" [(ngModel)]="fullName">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="fullName">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="fullName">
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="text" class="form-control" [value]="completeName">
      </td>
    </tr>
  </tbody>
</table>
<br>
<h6>The Dynamic Generatoin of select element using *ngFor </h6>
<div class="container">
  <strong>
    The Selectd Action is = {{selectedActor}}
  </strong>
</div>
<select class="form-control" [(ngModel)]="selectedActor">
  <option *ngFor="let c of characters" [value]="c">{{c}}</option>
</select>
<br>
<select  class="form-control" >
   <option *ngFor="let d of depts" value="{{d.id}}">{{d.name}}</option>
</select>
<br>
<h6>Using *ngIf</h6>
<input type="button" value="Toggle" (click)="toggle()">
<div class="container" *ngIf="isShow">
  <h3>The Message will be shown when IsShow = true</h3>
</div>
<br>
<h6>Using 'show' attribute binding</h6>
<input type="button" value="Toggle Show" (click)="toggleShow()">
<div class="container" [hidden]="isShow">
  <h3>The Message will be shown when IsShow = true</h3>
</div>
